<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Alpha</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/reset.css">
<!-- <link rel="stylesheet" href="css/style.css"> -->

<link rel="stylesheet" href="css/button.css">
<link rel="stylesheet" href="css/public_site.css">
  <script src="js/libs/modernizr-1.7.min.js"></script>

<!-- 
<link href='http://fonts.googleapis.com/css?family=Pacifico&v1' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Copse&v1' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald&v1' rel='stylesheet' type='text/css'>
-->
</head>

<body>

<!-- Static elements -->

	
	<div id="login_toolbar">
		<form id="login_form" action="#/post/login"  method="PUT">
			<input type="text" name="login" placeholder="login" />
			<input type="password" name="pass" placeholder="pass"  />
			<input type="submit" value="go!" />
		</form>
	</div>

<div class="wrapper">
		<div id="invite_box" class="popbox invitebox">
			<img src="img/publicsite/notch_pop.png" class="notch">
			<form id="invite_form" action="#/post/invite"  method="PUT">
				<h3>So you got invited?</h3>
				<p>Enter you invite code bellow, 
					and get started with the app.</p>
				<input type="text" name="invitecode" placeholder="invide code" class="biginput" />
				<input type="submit" value="okay!" class="largeinputbt button orange" />
			</form>
		</div>
		
		<div id="login_box" class="popbox loginbox">
			<img src="img/publicsite/notch_pop.png" class="notch">
			<form id="invite_form" action="#/post/invite"  method="PUT">
				<h3>Welcome back!</h3>
				<p>Enter your credentials, 
					and get back in Favs.</p>
					<input type="text" name="login" placeholder="login (email)" class="biginput"/>
					<p class="spacer"> </p>
					<input type="password" name="pass" placeholder="pass" class="biginput" />
					
				<input type="submit" value="login!" class="largeinputbt button orange" />
			</form>
		</div>
		
</div>
	
	
	
<header id="header">
	<div class="extramenu">
			<ul>
				<li><a href="#/about">About</a></li>
				<li><a href="#/">Blog</a></li>
				<li><a href="#/">Twitter</a></li>
			</ul>
	</div>
	<div class="mainmenu">
			<ul>
				<li><a href="#/login">Login <span>I'm back, let me in!</span></a></li>
				<li><a href="#/invite">Get Started<span>Yes, I have an invite code</span></a></li>
				<li><a href="#/features">Features<span>Tell me about it!</span></a></li>
				
				
			</ul>
	</div>
	
	<div class="wrapper">
	<a href="#/" id="logo">
		<h1>favs</h1>
	</a>
	</div>
	
</header>

 <div id="public">
	
			<div class="wrapper">
				
			
				
				<div class="rightcol">
				<img src="img/publicsite/video_frame.png" class="video">
					<div class="invite">
						<h2>Interested?</h2>
						<p>Just leave your email on to the waiting list, <br/>
						we release alpha invites regularly.</p>
						<input type="text" name="email" placeholder="your email" class="biginput">
						<input type="submit" value="send" class="button orange largeinputbt" />
						<hr/>
						<a href="#twitter" class="button orange largebt">Ask for an invite on Twitter</a>
						<p>Our members can also send invites, so asking on twitter may be the quickest way get invited.</p>
					</div>
				</div>
				
				
				<h1>
					organizes the websites you love, <br/>
					finds and discover new ones.
				</h1>
				
				<div class="featured">
					<div class="right">
						
						
						
						
						
					<div class="block">
						<h4>organized</h4>
						<p>
							With over 3000 popular websites already classified (against our sophisticated ontology), that means most of your bookmark collection is already organized when you start; and it keeps getting smarter over time.
						</p>
					</div>
					
				
					<div class="block">
						<h4>works everywhere</h4>
						<p>
							It not only works on every devices, but it's been optimized for the different particularities of each platforms.
						</p>
					</div>
					
				
					<div class="block">
						<h4>Open</h4>
						<p>
							Being advocate of openness, your data will never be locked wiht us. we let our user export their stuff easily, and in a standard (compatible) format.
						</p>
					</div>
					
					
				</div> <!-- eo .left -->
				
					<div class="block">
						<h4>Simple</h4>
						<p>
							We believe in good design, and we are working hard to keep our tool as effective as possible. It does one thing,very well.
						</p>
					</div>

					
					<div class="block">
						<h4>Fast</h4>
						<p>
							Thanks to latest browser and html 5 technologies, our app runs fast, and require very little bandwidth.
						</p>
					</div>
					
					
					<div class="block">
						<h4>Free</h4>
						<p>
							By free, we mean 100% free. There’s no such things as trials or premium account. And the best part: no ads neither!
						</p>
					</div>
				
				</div><!-- eo featured blocks -->
				
				<a href="#/features" class="readmore">read more</a>
				<span class="clear" />
				
			</div>
	
	
 </div>


<div id="features">
	<div class="wrapper">
	Features!
	</div>
</div>
   

    <footer>
footer...
    </footer>
  </div> <!-- eo #container -->

<!--  try to reach the CDN (requires internet)
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>
-->
<script src="js/libs/jquery-1.5.1.min.js"></script>
<script src="js/libs/jquery.scrollTo-1.4.2-min.js"></script>


	<script src="js/libs/sammy-0.6.3.min.js"></script>
	<script src="js/sammy/plugins/sammy.template.js"></script>
	<script src="js/sammy/plugins/sammy.storage.js"></script>
	<script src="js/sammy/plugins/sammy.json.js"></script>
	<script src="js/sammy/plugins/sammy.title.js"></script>
	<!-- 
	
	<script src="js/libs/upload.js"></script>
	<script src="js/script.js"></script>
-->
<script src="js/publicsite/script.js"></script>

  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");</script>
  <![endif]-->



  <script>
	if(! debug){
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]]; // Change UA-XXXXX-X to be your site's ID
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
}
  </script>

</body>
</html>
