<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Bookmarks</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/style.css">
  <script src="js/libs/modernizr-1.7.min.js"></script>

</head>

<body>

  <div id="container">
    <header>

		<div id="bottom_toolbar">
			<input type="range"  min="1" max="7" id="zoom_level" value="4" />
		</div>
		
		<div id="login_toolbar">
			<form action="#/login"  method="post" id="login_form">
				<input type="text" name="login" placeholder="login" />
				<input type="password" name="pass" placeholder="pass"  />
				<input type="submit" value="go!" />
			</form>
		</div>
		
		<a href="#/" id="logo">
			<h1>favs</h1>
		</a>

		<form action="#/"  method="post" id="search_form">
			<div class="clear-val">×</div>
			<input name="q" id="q" placeholder="keywords  -  url" type="search" />
			<span>
			- Discover interesting websites: <em>type keywords</em>
			<br/>
			- Add a website to the collection: <em>enter the URL address</em>
			</span>
		</form>

		<a href="#/settings" id="bt_setting">
			<img src="img/settings_gear.png">
			<span>settings</span>
		</a>
		<div class="hr"></div>
    </header>

    <div id="main" role="main">

			<div id="links">loading links</div>

		<div id="feedback">
			<div id="contactform" class="contactblock"> 
					<h1>Feedback</h1>
					<p>Did we told you we love to hear from our users?</p>
			          <form id="myform" action="?no"> 
			            <fieldset> 
			              <ul class="form"> 
			                <li > 
			                  <label for="form_name"> 
			                                        Name
			                                      </label> 
			                  <input id="form_name" class="is_required" name="Name" type="text" /> 
			                </li> 
			                <li class="email"> 
			                  <label for='form_email'> 
			                                        Email
			                                      </label> 
			                  <input id="form_email" class="is_required vemail" name="Email" type="text" /> 
			                </li> 
			                <li class="comments"> 
			                  <label for="form_comment">Message</label> 
			                  <textarea id="form_comment" class="is_required" name="Comment" ></textarea> 
			                </li> 
			                <li class="submit"> 
			                  <input id="send_contact" type="submit" value="Send Message" onFocus="this.blur();"/> 
			                </li> 
			              </ul> 
			            </fieldset> 
			          </form> 
			        </div> <!-- / #contactForm-->
						</div> <!-- /  #feedback-->



		<div id="settings">
			<h1>settings</h1>
				<form id="form_settings" name="form_settings">
					<h3>Import + Sync</h3>
						<div id="import-chrome">
							<p>Importing from Google Chrome is super easy.</p>
								<div class="guidebox">
									
									<!-- 
									

									Please follow the instructions below to export such a bookmark file from the most common services and browsers:

									DELICIOUS
									Export a bookmark file over at https://secure.delicious.com/settings/bookmarks/export
									(You will need to be logged in to export your bookmarks)
									SAFARI
									Choose "File" > "Export Bookmarks"
									CHROME
									Choose "Bookmarks" > "Bookmark Manager"
									Choose "Organize" > "Export Bookmarks…"
									FIREFOX
									
									-->
									<h4>1. Export your bookmark file</h4>
									<div class="relative">
									<label for"browser_menu">running another browser?</label>
									<select name="browser_menu" id="browser_menu">
									<option value="chrome" selected>Chrome</option>
									<option value="ff">Firefox</option>
									<option value="safari">Safari</option>
									<option value="ios">iOs (iPhone / iPad)</option>
									<option value="android">Android mobiles</option>
									<option value="opera">Opera</option>
									</select>
									
									<ol class="chrome import_instruction open">
								<li>Click the wrench icon on the browser toolbar.
								</li><li>Select Bookmark manager.
								</li><li>Click the Organize menu in the manager.
								</li><li>Select Export bookmarks.
								</li><li>Choose a location where you want your exported file to be saved, then click Save.</li>
								</ol>
								
								<ol class="safari import_instruction">
									<li>Choose "File" > "Export Bookmarks"</li>
								</ol>
								<ol class="ff import_instruction">
									<li>Choose "Bookmarks" > "Organize Bookmarks"</li>
									<li>Choose "Export..." from the File menu</li>
								</ol>
								<ol class="opera import_instruction">
									<li>Choose "File" > "Import and Export"</li>
									<li>Choose "Export Opera Bookmarks"</li>
								</ol>
								</div>
								</div>


								<div class="guidebox">
									<h4>2. Upload the file</h4>
									<p>Now select the file you just saved.</p>
									<form id="form_upload" enctype="multipart/form-data" method="post" action="#/api/import/file">
									    <div class="row">
									      <label for="fileToUpload">Select a File to Upload</label><br />
									      <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();"/>
									    </div>
											<div id="fileInfo">
									     <div id="fileName"></div>
									     <div id="fileSize"></div>
									     <div id="fileType"></div>
									    </div>
									<div class="row">
									      <input type="button" onclick="uploadFile()" value="Upload" />
									    </div>
									    <div id="progressBar"></div>
									  </form>

								</div>

							
						</form><!-- /prefs -->
							<h3>Extend "favs"</h3>
								<div class="guidebox">
								<h4>Chrome extension</h4>
								<p>An even slicker bookmark button is in progress.</p>
								
								<h4>Delicious user?</h4>
								login / user field + import bt.
								(autamatic import process then starts on the homepage)
								
								</div>
					</div>

					<h3>Preference</h3>
					<!--	X - Hide my bookmarks from other users. -->
						<input type="checkbox" id="chk_popular" />
						<label for="chk_popular">Show trending websites on launch</label>

						<h3>Account</h3>
							Your are currently logged in as <a href="#">user</a>.
							
						<h3>DEVELOPER TESTS</h3>
						<h4>Delicous user feed</h4>
							<p> 
								enter delicious username, then press enter<br />
								<form id="test_delicous" action="#/post/del" method="PUT">
									<input type="text" id="test_delicous_input" value="john" />
								</form>
							</p>
							
							
							<h4>Bookmarklet</h4>
							<p>

							<!-- Begin JS for bookmarklet -->

<a href="javascript:(function(){var%20d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f='http://127.0.0.1:9393/pop/save/',l=d.location,e=encodeURIComponent,g=f+'&title='+((e(s))?e(s):e(document.title))+'&url='+e(l.href);function%20a(){if(!w.open(g,'t','toolbar=0,resizable=0,scrollbars=1,status=1,width=650,height=470')){l.href=g;}}a();})()">Drag me on your toolbar (or just click to test, this will bookmark this page)</a>

<!--
that reads:
(function () {
    var d = document,
        w = window,
        e = w.getSelection,
        k = d.getSelection,
        x = d.selection,
        s = (e ? e() : (k) ? k() : (x ? x.createRange().text : 0)),
        f = 'http://127.0.0.1:9393/pop/?action=bookmarkpopup',
        l = d.location,
        e = encodeURIComponent,
        g = f '&title=' ((e(s)) ? e(s) : e(document.title))'&url='
    e(l.href);

    function a() {
        if (!w.open(g, 't', 'toolbar=0,resizable=0,scrollbars=1,status=1,width=650,height=470')) {
            l.href = g;
        }
    }
    a();
})()

-->


							</p>
						<h3>Learn how to:</h3>
							<ul>
								<li>Use the app on your mobile</li>
								<li>Sync bookmarks across different browsers/devices</li>
							</ul>

							<h3>Feedback</h3>
							<p> 
								Unhappy about something? Got an interesting idea? Want to get involved?
								<a href="#/feedback">Tell us about it! We'd love to hear from you</a>
							</p>
							
		</div>
    </div>
    <footer>

    </footer>
  </div> <!-- eo #container -->

<!--  try to reach the CDN (requires internet)
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>
-->
<script src="js/libs/jquery-1.5.1.min.js"></script>

	<script src="js/libs/sammy-0.6.3.min.js"></script>
	<script src="js/sammy/plugins/sammy.template.js"></script>
	<script src="js/sammy/plugins/sammy.storage.js"></script>
	<script src="js/sammy/plugins/sammy.json.js"></script>
	<script src="js/sammy/plugins/sammy.oauth2.js"></script>
	<script src="js/sammy/plugins/sammy.json.js"></script>
	<script src="js/sammy/plugins/sammy.title.js"></script>
	
	
	<script src="js/libs/upload.js"></script>
	<script src="js/script.js"></script>



  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");</script>
  <![endif]-->



  <script>
	if(! debug){
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]]; // Change UA-XXXXX-X to be your site's ID
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
}
  </script>

</body>
</html>
