<form action="/" method="post">
	<p>Title: <input type="text" name="title" id="yasi_title"></p>
	<p>Category: <input type="text" name="category" id="yasi_category"></p>
	<p>Description: <textarea name="description" id="yasi_description"></textarea></p>
	<p><input type="submit" name="submit" value="Go Ahead"></p>
</form>

