/* BASE STYLES: HTML5 Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #ff5f6a; color:#fff; text-shadow: none; }
::selection { background:#ff5f6a; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #ff5f6a; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; font-family:georgia; font-style:italic; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


em{ font-style:italic;}
body{ background: #f3f3f3;}
.relative{ position:relative;}


/**
 * Primary styles
 *
 * Author: iplanwebsites.com
 */


input[type="search"] {
  -webkit-appearance: textfield;
}

li{ margin-top:0.3em;}
h1{ font-size:26px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:13px;}
h6{ font-size:10px;}

/*
						HEADER
=============================================================
*/

header{ padding-left:20px; padding-top:30px; padding-right:20px; }
header .hr{ border-bottom: 1px dashed #ccc; clear:both; padding-top:30px; 
	color:#f3f3f3; margin-bottom:10px;}


#logo{ margin-left:20px; height: 80px; width:120px; float:left; background:#ff5f6a; 
    text-align:center; -webkit-border-radius: 5em; -moz-border-radius: 5em; border-radius: 5em;}
#logo h1{ font-size:30px;}
#logo{ text-decoration:none; color:#fff; padding-top:40px;}
#logo:hover { background: #ef2576; }
#logo:active { margin-top: 1px; margin-bottom:-1px; background: #ff7799; }

#search_form{float:left; width:50%; margin-left:10%; margin-top:24px;  }
#search_form span{ display:block; color:#aaa; margin-top:4px;}
#search_form .clear-val{ 
	background:#ccc; width:37px; height:37px; position:relative; 
	float:right; margin-bottom:-97px;  margin-right:-30px; margin-top:15px; 
	font-size:28px;
	opacity:0;
	-webkit-border-radius: 45px; -moz-border-radius: 45px; border-radius: 55px; 
	text-align:center;  color:#fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor:text;
	}
		#search_form .clear-val.show:hover{opacity:1; background:#777; cursor:pointer; }
	#search_form .clear-val.show{opacity:1;}
#search_form #q{ width:100%; height:60px;  font-size:40px;   
    padding: 5px 10px 5px 30px;  border: 1px solid #ccc; color:#aaa;
    box-shadow: 3px 3px 18px #ddd;
    	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			outline: none;
		 
			
		}

#search_form #q:focus{color:#000;
	box-shadow: 0px 0px 3px #f00;
	} 
#search_form.is_url #q{ color: #00f; text-decoration:underline; }
/* if we ever feel it's necessary to add a button, that's the way to do it...*/
#search_form.is_url #bt_add_url{ opacity:1; } 

#bt_setting{ float:right;  margin-top:15px; text-align:center; text-decoration: none;
             padding:10px; opacity:0.5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
#bt_setting:hover{background: #fff; opacity:1; }
#bt_setting img{ width:60px; height:60px; }
#bt_setting span{  display:block; color:#000; margin-top:-7px;}


.show{ opacity:1; }

/*
						MAIN CONTENT
=============================================================
*/


.item{ width: 200px; height:300px; float:left; background:#fff; margin-left:10px; opacity:1;
	padding:2px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	overflow:hidden;
}

.item.out{ opacity:0; height:0px; width:0px; margin:0px; padding:0px; color:#fff;}
.item img{ width:100%; height:auto; }
	
	/* Find numbers that works nicely on common resoltions! (low space wasting...) */
body.zoom1 .item{width:80px; }
body.zoom2 .item{width:150px; }
body.zoom3 .item{width:210px; }
body.zoom4 .item{width:300px; }
body.zoom5 .item{width:450px; }
body.zoom6 .item{width:660px; }
body.zoom7 .item{width:960px; }

/*
						Settings PAGES
=============================================================
*/

#settings{ position: absolute; 
	 background: rgba(0,0,0,0.8); color: #fff; 
	padding:2%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width:96%;
	margin-left:-100%;
	font-size:10px;
	}
#settings.show{ position: absolute; opacity:1; width:96%; margin-left:0px;}

#links{ opacity:0; 
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
#links.show{  opacity:1;}

#settings .guidebox{ 
	background:#000;
	padding:10px;
	float:left;
	width:280px;
	margin-right:10px;
	min-height:150px;
	}
#settings h3{ clear:both; padding-top:30px; border-bottom:1px dashed #444; margin-bottom:10px;}

ol.import_instruction{ 
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity:0;
	top:40px;
	position:absolute;
}

ol.import_instruction.open{ 
	opacity:1;
}

/*     File upload      */

		#progressIndicator { font-size: 10pt; }
		
		#fileInfo 
		{
		  font-size: 10pt;
		  font-style: italic;
		  color: #aaa;
		  margin-top: 10px;
		}
		
		#progressBar 		
		{		  
		  height: 14px;
		  border: 1px solid #cccccc;
		  display: none;
			border-radius:10px;
		  -moz-border-radius: 10px;		  
			background-image: -moz-linear-gradient(top, #66cc00, #4b9500);
			background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));		  
		}
		
		#uploadResponse {
		  margin-top: 10px;
		  padding: 20px;
		  overflow: hidden;
		  display: none;
		  border-radius:10px;
		  -moz-border-radius: 10px;
		  border: 1px solid #ccc;		  
		  box-shadow: 0 0 5px #ccc;
			background-image: -moz-linear-gradient(top, #ff9900, #c77801);
			background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#c77801));		  
		}





/*
						Login
=============================================================
*/

#login_toolbar{ 
	position:absolute; top:0px; right:0px; background:#fff; padding:5px 10px 5px 10px;
	-moz-box-shadow: -2px 2px 5px #888;
	-webkit-box-shadow: -2px 2px 5px #888;
	box-shadow: -2px 2px 5px #888;
	border-bottom-left-radius: 5px 5px;
	text-align:right;
	}
	
#login_toolbar form{ margin:0px; padding:0px; width:100%; }
#login_toolbar input{ width:100px; margin:0px; padding:0px; display:inline; }
#login_toolbar input[type="submit"]{
	border: 1px solid #006;
	background: #ffc;
	width:40px;
}

/*
						Footer
=============================================================
*/

#bottom_toolbar{ position:fixed; bottom:0px; right:0px; background:#fff; padding:5px 10px 5px 10px;
	-moz-box-shadow: -2px -2px 5px #888;
	-webkit-box-shadow: -2px -2px 5px #888;
	box-shadow: -2px -2px 5px #888;
	border-top-left-radius: 5px 5px;
	}



/*
						EXTRA PAGES
=============================================================
*/


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear{ clear:both;}


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

