/**
 * Primary styles
 * Author: iplanwebsites.com
 */



#promo_header{ width: 100%; background: #f0f0f0; text-align:center; color:#aaa; padding-top:60px;}
#promo_header .wrapper { margin: 0 auto; width:960px; border-bottom:1px solid #888; height:300px;}
#promo_header h1{  font-size:62px; margin:20px; 
	 font-weight:normal; white-space:nowrap;
	text-shadow: 1px 1px 0px #666, -1px -1px 0px #fff ;
	font-family: 'Copse', arial, serif;
}
#promo_header h3{ margin-bottom:30px;
	font-family: 'Oswald', arial, serif;
	text-transform:uppercase;
	letter-spacing:5px;
	font-style:normal;
	font-size:12px;
}
.box{ 
	float:left; margin:1px; padding:10px; 	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width:280px; 
	text-align:left;
}
.box p{ width:200px;} 
.box.middle{ 
	border-left: dashed 1px #777; border-right: dashed 1px #777; 
	}

.box h4{ color:#555; font-size:20px; margin-bottom:50px;
	font-family: 'Oswald', arial, serif;
	font-style:normal;
	text-transform:uppercase;
	}
.box.hover h4{ color:#badc33; }
.box.not_hover h4{ color:#999; }


.box.hover { width:310px; }
.box.not_hover { width:265px; opacity:0.5; }


/* .box.not_selected! > white */
.box.not_hover .button {
    opacity:0.5;
}
	
.dot{
	float:right;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color:#badc33; 
	-webkit-border-radius: 25em; 
	-moz-border-radius: 25em; 
	border-radius: 25em;
	height:80px;
	width:80px;
	margin-top:-70px;
	margin-right:10px;
}
.box.hover .dot{height:100px; width:100px; margin-top:-80px; margin-right:20px; 
	background-size: 75%;}
.dot.opera{
		background: #badc33 url('/img/browsers_icons/w2/o.png') center no-repeat;
		background-size: 80%;
}
.dot.chrome{
	background: #badc33 url('/img/browsers_icons/w2/chrome.png') center no-repeat;
	background-size: 80%;
}
.dot.firefox{
	background: #badc33 url('/img/browsers_icons/w2/ff.png') center no-repeat;
	background-size: 80%;
}	

.dot.saf{
	background: #badc33 url('/img/browsers_icons/w2/saf.png') center no-repeat;
	background-size: 80%;
}	
.dot.ie{
	background: #badc33 url('/img/browsers_icons/w2/ie.png') center no-repeat;
	background-size: 80%;}	
	
.dot.delicon{
	background: #badc33 url('/img/browsers_icons/w2/del1.png') center no-repeat;
	background-size: 50%;}

/*
						REgular HEADER (search)
=============================================================
*/

header{ padding-left:20px; padding-top:30px; padding-right:20px; clear:both; }
header .hr{ border-bottom: 1px dashed #ccc; clear:both; padding-top:30px; 
	color:#f3f3f3; margin-bottom:10px;}


#logo{ margin-left:20px; height: 80px; width:120px; float:left; background:#badc33; 
    text-align:center; -webkit-border-radius: 5em; -moz-border-radius: 5em; border-radius: 5em;}
#logo h1{ font-size:30px;}
#logo{ text-decoration:none; color:#fff; padding-top:40px;}
#logo:hover { background: #ef2576; }
#logo:active { margin-top: 1px; margin-bottom:-1px; background: #ff7799; }

#search_form{float:left; width:50%; margin-left:10%; margin-top:24px;  }
#search_form span{ display:block; color:#aaa; margin-top:4px;}
#search_form .clear-val{ 
	background:#ccc; width:37px; height:37px; position:relative; 
	float:right; margin-bottom:-97px;  margin-right:-30px; margin-top:15px; 
	font-size:28px;
	opacity:0;
	-webkit-border-radius: 45px; -moz-border-radius: 45px; border-radius: 55px; 
	text-align:center;  color:#fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor:text;
	}
		#search_form .clear-val.show:hover{opacity:1; background:#777; cursor:pointer; }
	#search_form .clear-val.show{opacity:1;}
#search_form #q{ width:100%; height:60px;  font-size:40px;   
    padding: 5px 10px 5px 30px;  border: 1px solid #ccc; color:#aaa;
    box-shadow: 3px 3px 18px #ddd;
    	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			outline: none;
		 
			
		}

#search_form #q:focus{color:#000;
	box-shadow: 0px 0px 3px #080;
	} 
#search_form.is_url #q{ color: #00f; text-decoration:underline; }
/* if we ever feel it's necessary to add a button, that's the way to do it...*/
#search_form.is_url #bt_add_url{ opacity:1; } 

#bt_setting{ float:right;  margin-top:15px; text-align:center; text-decoration: none;
             padding:10px; opacity:0.5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
#bt_setting:hover{background: #fff; opacity:1; }
#bt_setting img{ width:60px; height:60px; }
#bt_setting span{  display:block; color:#000; margin-top:-7px;}


.show{ opacity:1; }

/*
						MAIN CONTENT
=============================================================
*/

.item{ width: 200px; height:300px; float:left; background:#fff; margin-left:10px; opacity:1;
	padding:2px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	overflow:hidden;
}

.item a, a.url{ color:#0E774A; text-decoration:none;}
.item a:hover, a.url:hover{ color:#0E774A; text-decoration:underline;}

.item.out{ opacity:0; height:0px; width:0px; margin:0px; padding:0px; color:#fff;}
.item img{ width:100%; height:auto; }
	
	/* Find numbers that works nicely on common resoltions! (low space wasting...) */
body.zoom1 .item{width:80px; }
body.zoom2 .item{width:150px; }
body.zoom3 .item{width:210px; }
body.zoom4 .item{width:300px; }
body.zoom5 .item{width:450px; }
body.zoom6 .item{width:660px; }
body.zoom7 .item{width:960px; }

/*
						Feedback page
=============================================================
*/

#feedback{  /* this is the semi-transparent black bg */
	position: fixed;
	top:0;
	left:0; 
	 background: rgba(0,0,0,0.8); color: #000; 
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	width:100%;
	height:100%;
	text-align:center;
	opacity:0;
	z-index:10;
	display:none;
	}
#feedback.show{ opacity:1; margin-left:0; display:block;}

#feedback #contactform{ 
-webkit-transform: rotate(29deg);
-moz-transform: rotate(29deg);
transform: rotate(29deg);
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
position:fixed; /* so it doesn't pan with the bg */
top: 10%;
left: 50%;
opacity:0;
background:#fff;
padding:20px;
margin-left:-15%;
width:30%;
min-width:260px;
}

#feedback.show #contactform{ 
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
	margin-top:13%;
	opacity:1;
}

/*
						Settings PAGE
=============================================================
*/

#settings{ position: absolute; 
	 background: rgba(0,0,0,0.8); color: #fff; 
	padding:2%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width:96%;
	margin-left:-100%;
	font-size:10px;
	}
#settings.show{ position: absolute; opacity:1; width:96%; margin-left:0px;}

#links{ opacity:0;  
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
#links.show{  opacity:1;}

#settings .guidebox{ 
	background:#000;
	padding:10px;
	float:left;
	width:280px;
	margin-right:10px;
	min-height:150px;
	}
#settings h3{ clear:both; padding-top:30px; border-bottom:1px dashed #444; margin-bottom:10px;}

ol.import_instruction{ 
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity:0;
	top:40px;
	position:absolute;
}

ol.import_instruction.open{ 
	opacity:1;
}

/*     File upload      */

		#progressIndicator { font-size: 10pt; }
		
		#fileInfo 
		{
		  font-size: 10pt;
		  font-style: italic;
		  color: #aaa;
		  margin-top: 10px;
		}
		
		#progressBar 		
		{		  
		  height: 14px;
		  border: 1px solid #cccccc;
		  display: none;
			border-radius:10px;
		  -moz-border-radius: 10px;		  
			background-image: -moz-linear-gradient(top, #66cc00, #4b9500);
			background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));		  
		}
		
		#uploadResponse {
		  margin-top: 10px;
		  padding: 20px;
		  overflow: hidden;
		  display: none;
		  border-radius:10px;
		  -moz-border-radius: 10px;
		  border: 1px solid #ccc;		  
		  box-shadow: 0 0 5px #ccc;
			background-image: -moz-linear-gradient(top, #ff9900, #c77801);
			background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#c77801));		  
		}





/*
						Login
=============================================================
*/

#login_toolbar{ 
	position:absolute; top:0px; right:0px; background:#fff; padding:5px 10px 5px 10px;
	-moz-box-shadow: -2px 2px 5px #888;
	-webkit-box-shadow: -2px 2px 5px #888;
	box-shadow: -2px 2px 5px #888;
	border-bottom-left-radius: 5px 5px;
	text-align:right;
	}
	
#login_toolbar form{ margin:0px; padding:0px; width:100%; }
#login_toolbar input{ width:100px; margin:0px; padding:0px; display:inline; }
#login_toolbar input[type="submit"]{
	border: 1px solid #006;
	background: #ffc;
	width:40px;
}

/*
						Footer
=============================================================
*/

#bottom_toolbar{ position:fixed; bottom:0px; right:0px; background:#fff; padding:5px 10px 5px 10px;
	-moz-box-shadow: -2px -2px 5px #888;
	-webkit-box-shadow: -2px -2px 5px #888;
	box-shadow: -2px -2px 5px #888;
	border-top-left-radius: 5px 5px;
	}



/*
						EXTRA PAGES
=============================================================
*/


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear{ clear:both;}



/*
						Print + Mobile styles
=============================================================
*/

@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

